<h1 align="center">Greengraph Datasheets</h1>
<hr/>
<h3 align="center">For researchers.</h3>
<br/>
<div class="col-sm-8 col-sm-offset-2">
  <div class="list-group">
    <%= link_to "3D Stats Modeling", statmodel_path, class: 'list-group-item' %>
  </div>
</div>