<div class="row">
<div class="col-sm-8 col-sm-offset-2">
<h1 align="center">Personal Energy Dashboard</h1>
<hr/>
</div>
</div>
<div class="row">
<div class="col-sm-10 col-sm-offset-1">
<ul class="nav nav-tabs nav-justified">
  <li><%= link_to dashboard_path do %>My energy trends<% end %></li>
  <li><%= link_to dashboard_history_path do %>View my past energy usage<% end %></li>
  <li class="active"><%= link_to dashboard_add_path do %>Add this months energy usage<% end %></li>
</ul>
</div>
</div>
<br/><br/>
<h4 align="center" class="well">Now it's your turn Princeton, help us code the next great Greengraph feature!</h4>
</div>
</div>