.email {
    border-radius: 3px;
    border: none;
    transition: 0.5s all;
    height: 40px;
    vertical-align: text-top;
    color: #568259 !important;
    font-size: 50%;
    text-align: center;
    width: 200px;
}
.email:focus {
    outline: none;
    background: #568259;
    color: #fff !important;
}
.sign {
    border: none;
    border-radius: 3px;
    background: #568259;
    height: 25px;
    transform: scale(1.5, 1.5);
    transition: 0.3s all;
    color: white;
}
.sign:hover  {
    background: white;
    color: #568259;
}