<style>
.file {
    background: #568259;
    color: white;
    border: none;
    transform: scale(2, 2);
    border-radius: 3px;
    transition: 0.4s all;
}
.file:hover {
    background: white;
    color: #568259;
}
body {
    background: #DBF4AD;
}
</style> 
<div style="position: absolute; left: 50%; top: 25%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); border-bottom: 3px solid #568259; color: #568259; font-size: 500%; ">IMPORT</div>  
    <%= form_for(:file,
        url: {action: 'submitfile'},
        html: {multipart: true}) do |form| %>
    <div style="position: absolute; left: 50%; top: 40%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: #568259; font-size: 150%">
        Upload your file:
    </div>
    <div style="position: absolute; left: 50%; top: 55%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: #568259; font-size: 100%" >
        <%= form.file_field("uploaded_file", class: "file") %><br/>
    </div>
    <br/>
    <div style="position: absolute; left: 50%; top: 65%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: #568259; font-size: 150%" >
        <%= submit_tag("Upload file", class: "file") %>
    </div>
<% end %>