<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h4 align="center">All gas usage combined since 2009</h4>
        <div id="allgaschartcontainer">
            <canvas style="height: 300px;" id="allgaschart"></canvas>
        </div>
    </div>
</div>