<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h4 align="center">Gas usage from industrial sector for 2009 from the Princeton Boro</h4>
        <div id="gasindustrialchartcontainer">
            <canvas style="height: 300px;" id="gasindustrialchart"></canvas>
        </div>
    </div>
</div>
<script>
    <%= render partial: 'gasindustrialchart.js.erb' %>
</script>