<h1 align="center">Analytics</h1>

<%= render partial: 'gasbarchart' %>
<%= render partial: 'gascommercialchart' %>
<%= render partial: 'gasindustrialchart' %>
<%= render partial: 'gasresidentialchart' %>