<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h4 align="center">Gas usage from commercial sector for 2009 from the Princeton Boro</h4>
        <div id="gascommercialchartcontainer">
            <canvas style="height: 300px;" id="gascommercialchart"></canvas>
        </div>
    </div>
</div>
<script>
    <%= render partial: 'gascommercialchart.js.erb' %>
</script>