<div class="row">
    <div class="col-sm-6">
        <h4 align="center">Gas usage from residential sector for 2009 from the Princeton Boro</h4>
        <div id="gasresidentialchartcontainer">
            <canvas style="height: 300px;" id="gasresidentialchart"></canvas>
        </div>
    </div>
    <div class="col-sm-6">
        <h4 align="center">Electric usage from residential sector for 2009 from the Princeton Boro</h4>
        <div id="electricresidentialchartcontainer">
            <canvas style="height: 300px;" id="electricresidentialchart"></canvas>
        </div>
    </div>
</div>
<script>
    <%= render partial: 'gasresidentialchart.js.erb' %>
    <%= render partial: 'electricresidentialchart.js.erb' %>
</script>