<h1 align="center">About Greengraph</h1>
<hr/>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">What Greengraph stands for</h3>
      </div>
      <div class="panel-body">
        Greengraph puts the power of energy data into the hands of the public. To better understand our collective impact on Princeton&#39;s carbon footprint we need to know how much energy the Princeton community consumes. <br>Greengraph was created by Code for Princeton, a group of civic hackers, to make energy data available, interactive and engaging.
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">The Team:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>Michael Rickert - Team Leader</li>
          <li>Christopher Marsh-Bourdon - Team Leader</li>
          <li>Joe Bindert</li>
          <li>Nic Hannah</li>
          <li>Nataly Manjarrez</li>
          <li>Maanas Manoj</li>
          <li>Manoj Narayanan</li>
          <li>Ted Nadeau</li>
          <li>Ron Nielson</li>
          <li>Christine Symington</li>
          <li>Stephanie Trabold</li>
          <li>Jiahuan Kang</li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">The Data: </h3>
      </div>
      <div class="panel-body">
        &#34;Since 2009, Princeton used 6,596,437 MWh of energy which equals 4,619,354 tons of CO2. That is equivalent to 659,644 cars on the road or driving your car 10,554,299,969 miles. The Princeton community would need 791,572 acres of forest to offset that usage, or have planted 23,747,156 trees 10 years ago.&#34;
        <br/>
        Energy amounts are provided by PSEG for Princeton&#39;s residential, commercial, and street light billed electric and gas usage. Equivalencies are derived from the <a href="http://www.epa.gov/cleanenergy/energy-resources/calculator.html">EPA&#39;s Greenhouse Gas Equivalencies Calculator</a>.
      </div>
    </div>
  </div>
</div>
