<% @body_id = "homeindex" %>
<%= render partial: 'home/splash' %>
<br/><br/><br/>
<h1 align="center" id="start">Let's make Princeton green, together!</h1>
<br/>
<%= render partial: 'analytics/graphs/totalscharts' %>
<%= render partial: 'analytics/graphs/biggraph' %>