<% @body_id = "homeindex" %>
<%= render partial: 'home/splash' %>
<h1 align="center" id="start" class="hometitle">Let's make Princeton green, together!</h1>
<%= render partial: 'analytics/graphs/totalscharts' %>
<%= render partial: 'analytics/graphs/biggraph' %>