<% @body_id = "importpage" %>
<div class="row" align="center" style="margin-top: 10%">
<div class="col-sm-4 col-sm-offset-4">
<div style="border-bottom: 3px solid #568259; color: #568259; font-size: 500%; ">IMPORT</div>  
<div class="panel panel-success" style="background-color: #568259">
<div class="panel-body">
    <%= form_for(:file,
        url: {action: 'submitfile'},
        html: {multipart: true}) do |form| %>
    <div style="color: #DBF4AD; font-size: 150%">
        Upload your file:
    </div>
    <br/><br/>
    <div style="color: DBF4AD; font-size: 100%" >
        <%= form.file_field("uploaded_file", class: "file") %><br/>
    </div>
    <br/><br/>
    <%= submit_tag("Upload file", class: "file btn btn-lg btn-primary") %>
<% end %>
</div>
</div>
</div>
</div>