<h1 align="center">Import</h1>
<hr/>
<h3 align="center">Data experts only.</h3>
<br/>
<div class="row" align="center">
<div class="col-sm-4 col-sm-offset-4">
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">Import new raw data exported from PSEG</h4>
</div>
<div class="panel-body">
    <%= form_for(:file,
        url: {action: 'submitfile'},
        html: {multipart: true}) do |form| %>
    <div>
        Upload your file:
    </div>
    <br/><br/>
    <div>
        <%= form.file_field("uploaded_file", class: "file") %><br/>
    </div>
    <br/><br/>
    <%= submit_tag("Upload file", class: "file btn btn-lg btn-primary") %>
<% end %>
</div>
</div>
</div>
</div>