<div class="row">
    <div class="col-sm-5 col-sm-offset-1">
        <h4 align="center">All gas usage combined since 2009</h4>
        <div id="allgaschartcontainer">
            <canvas style="height: 300px;" id="allgaschart"></canvas>
              <div style="vertical-align: text-bottom;width: 18px; height: 18px; border-radius: 3px; background: #CE8147
              ;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Commercial</div><br>
                 <div style="vertical-align: text-bottom;width: 18px; height: 18px; border-radius: 3px; background: #561D25
              ;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Residential</div>
        </div>
    </div>
    <div class="col-sm-5">
        <h4 align="center">All electric usage combined since 2009</h4>
        <div id="allelectricchartcontainer">
            <canvas style="height: 300px;" id="allelectricchart"></canvas>
              <div style="vertical-align: text-bottom;width: 18px; height: 18px; border-radius: 3px; background: #70E4EF
              ;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Commercial</div><br>
                 <div style="vertical-align: text-bottom;width: 18px; height: 18px; border-radius: 3px; background: #4D6CFA
              ;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Residential</div>
        </div>
    </div>
</div>
<script>
    <%= render partial: 'gasbarchart.js.erb' %>
    <%= render partial: 'electricbarchart.js.erb' %>
</script>
