<h1 align="center">What is Greengraph?</h1>

<h3 align="center">
Greengraph puts the power of energy data into the hands of the public. To better understand our collective impact on Princeton’s carbon footprint we need to know how much energy the Princeton community consumes. Greengraph was created by Code for Princeton, a group of civic hackers, to make energy data available, interactive and engaging. 
</h3>
<h3>
The Team 
Michael Rickert - Team Leader
Christopher Marsh-Bourdon - Team Leader
Joe Bindert
Nic Hannah
Nataly Manjarrez
Maanas Manoj
Manoj Narayanan
Ted Nadeau
Ron Nielson
Christine Symington
Stephanie Trabold

The Data 
“Since 2009, Princeton used 6,596,437 MWh of energy which equals 4,619,354 tons of CO2. That is equivalent to 659,644 cars on the road or driving your car 10,554,299,969 miles. The Princeton community would need 791,572 acres of forest to offset that usage, or have planted 23,747,156 trees 10 years ago.”

Energy amounts are provided by PSEG for Princeton’s residential, commercial, and street light billed electric and gas usage. Equivalencies are derived from the EPA’s Greenhouse Gas Equivalencies Calculator http://www.epa.gov/cleanenergy/energy-resources/calculator.html.

</h3>