<div class="row" style="padding-top: 7%">
<div class="col-sm-10 col-sm-offset-1">
<h1 align="center" style=" border-bottom: 1px solid black;">About Greengraph</h1>
<br/>
<h4 style="text-align: center;">Greengraph puts the power of energy data into the hands of the public. To better understand our collective impact on Princeton&#39;s carbon footprint we need to know how much energy the Princeton community consumes. <br>Greengraph was created by Code for Princeton, a group of civic hackers, to make energy data available, interactive and engaging.</h4>    
<h3>The Team:</h3>  
<ul>
    <li>Michael Rickert - Team Leader</li>    
    <li>Christopher Marsh-Bourdon - Team Leader</li>
    <li>Joe Bindert</li>
    <li>Nic Hannah</li>
    <li>Nataly Manjarrez</li>
    <li>Maanas Manoj</li>
    <li>Manoj Narayanan</li>
    <li>Ted Nadeau</li>
    <li>Ron Nielson</li>
    <li>Christine Symington</li>
    <li>Stephanie Trabold</li>    
</ul>
<h3>The Data: </h3><h4>&#34;Since 2009, Princeton used 6,596,437 MWh of energy which equals 4,619,354 tons of CO2. That is equivalent to 659,644 cars on the road or driving your car 10,554,299,969 miles. The Princeton community would need 791,572 acres of forest to offset that usage, or have planted 23,747,156 trees 10 years ago.&#34;</h4><br>
<h4>Energy amounts are provided by PSEG for Princeton&#39;s residential, commercial, and street light billed electric and gas usage. Equivalencies are derived from the EPA&#39;s Greenhouse Gas Equivalencies Calculator http://www.epa.gov/cleanenergy/energy-resources/calculator.html.</h4>
</div>
</div>