<h1 align="center">Recent Data</h1>
<h3 align="center">Below you'll find some data relating to the energy usage in Princeton over the last few years.</h3>
<h3 align="center">Ready to add your own data? <a href="users/sign_up">Sign up</a> here.</h3>
<br>
<%= render partial: 'mainbarchart' %>
<%= render partial: 'biggraph' %>
