<h1 align="center">Greengraph API Access</h1>
<h3 align="center"><%= link_to "raw data", raw_api_path %></h3>
<h3 align="center"><%= link_to "raw temperature data", raw_api_temp_path %></h3>
<h3 align="center"><%= link_to "geojson map of Princeton", raw_api_geojson_path %></h3>