<script src="http://code.highcharts.com/maps/highmaps.js"></script>
<div class="col-sm-4">
<div id="container" style="min-width: 310px; max-width: 400px"></div>
</div>
<div class="col-sm-8">
<div id="map" class="map"></div>
</div>
<script>
var map = new ol.Map({
  layers: [
    new ol.layer.Tile({
      source: new ol.source.OSM()
    })
  ],
  target: 'map',
  controls: ol.control.defaults({
    attributionOptions: /** @type {olx.control.AttributionOptions} */ ({
      collapsible: false
    })
  }),
  view: new ol.View({
   center: ol.proj.transform([-74.66651916503906, 40.36341913876339], 'EPSG:4326', 'EPSG:3857'),
    zoom: 12
  })
  
});

    var vectorLayer = new ol.layer.Vector({
        title: 'added Layer',
        source: new ol.source.Vector({
          url: '../princeton.geojson.json',
          format: new ol.format.GeoJSON()
        })
    });
    map.addLayer(vectorLayer);
    console.log(vectorLayer);
</script>

<script type="text/javascript">
$(function () {
       // Prepare random data
    var data = [
        {
            "code": "Princeton",
            "value": 728
        },
        {
            "code": "Princeton University",
            "value": 710
        }];
    $.getJSON("../princeton.geojson.json",function(geojson){
     // Initiate the chart
    $('#container').slideDown().highcharts('Map',
        {colorAxis: {
            },

            series : [{
                data : data,
                mapData: geojson,
                joinBy: ['name', 'code'],
                name: 'Princeton',
                states: {
                    hover: {
                        color: '#BADA55'
                    }
                },
                dataLabels: {
                    enabled: true,
                    format: '{point.properties.name}'
                }
            }],
            title : {
                text : 'GeoJSON of Princeton'
            },

            mapNavigation: {
                enabled: true,
                buttonOptions: {
                    verticalAlign: 'bottom'
                }
            }
    }); 
    }); 
});
</script>