// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-bordered > li {
    border: 1px solid #333;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.25);
    margin-left: 5px;
}

.homenav > li > a  {
  border-radius: 5px;
  color: #eee;
  font-size: 1.2em;
  text-shadow: none;
}

.homenav > li > a > i {
    font-size: .9em;
}

.homenav > li {
    display: inline-block !important;
    width: 32% !important;
    min-width: 125px !important;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.homenav > li > a:hover  {
  border-radius: 5px !important;
  background-color: rgba(0,0,0,0.55) !important;
}

/* Header */
.large-header {
	position: relative;
	width: 100%;
	height: 80%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
	font-family: 'Bree Serif', serif;
}

.home .large-header {
	background-position: center bottom;
	background-image: url('backsplash.jpg');
}

.home .large-header canvas {
	background: linear-gradient( rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25));
}

.main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: rgba(60,60,60, 0.82);
    text-align: center;
    top: 35%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0px);
    -ms-transform:  translate3d(-50%, -50%, 0px); /* IE 9 */
    -webkit-transform:  translate3d(-50%, -50%, 0px); /* Chrome, Safari, Opera */
    font-weight: normal;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.main-title h1 {
	font-size: 8em;
}

.main-title h3 {
	font-size: 2.5em;
}


@media screen and (max-width: 450px) {

  .main-title h1 {
	font-size: 3em;
  }

  .main-title h3 {
	font-size: 1em;
  }
  
  .homenav > li {
    margin-bottom:10px;
  }
}


@media screen and (min-width: 451px) and (max-width: 700px) {

  .main-title h1 {
	font-size: 5em;
  }

  .main-title h3 {
	font-size: 1.2em;
  }
  
  .homenav > li {
    margin-bottom:10px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1300px) {

  .main-title h1 {
	font-size: 8em;
  }

  .main-title h3 {
	font-size: 1.9em;
  }
  
  .homenav > li {
    margin-bottom:10px;
  }
}