#importpage .file {
    background: #dbf4ad;
    color: #568259;
    transition: 0.4s all;
}
#importpage .file:hover {
    background: white;
    color: #568259;
}
#importpage {
    background: #dbf4ad;
}