<div class="row">
    <div class="col-sm-12">
        <h4 align="center">All energy usage since 2009</h4>
        <div id="biggraphcontainer" style="height: 350px;">
        </div>
    </div>
</div>
<script type="text/javascript">
  var bigchartlabels = [<% @bigchartlabels.each_with_index do |x, y| %> <% if y % 2 == 0%> "<%= x.html_safe.to_s %>", <% else %> "", <% end %><% end %>]
  var bigchartdata = [<% @bigchartdata.each do |x| %> "<%= x.to_s %>", <% end %>]
  //render the big line graph in the canvas tag
  biggraph(bigchartlabels, bigchartdata);
</script>