<div class="row">
    <div class="col-sm-12">
        <h4 align="center">All energy usage since 2009</h4>
        <div id="biggraphcontainer" style="height: 350px;">
            <canvas style="height: 350;" id="biggraph"></canvas>
        </div>
    </div>
</div>
<script>
    <%= render partial: 'analytics/graphs/biggraph.js.erb' %>
</script>