<div class="row">
    <div class="col-sm-5 col-sm-offset-1">
        <h4 align="center">All gas usage combined since 2009</h4>
        <div id="allgaschartcontainer">
            <canvas style="height: 300px;" id="allgaschart"></canvas>
        </div>
    </div>
    <div class="col-sm-5">
        <h4 align="center">All electric usage combined since 2009</h4>
        <div id="allelectricchartcontainer">
            <canvas style="height: 300px;" id="allelectricchart"></canvas>
        </div>
    </div>
</div>
<script type="text/javascript">
  var comelectric = <%=@commercialelectric %>;
  var reselectric = <%=@residentialelectric %>;
  electricdoughnut(comelectric, reselectric);
  var comgas = <%=@commercialgas %>;
  var resgas = <%=@residentialgas %>;
  gasdoughnut(comgas, resgas);
</script>